

.menu{border:solid 2px grey;
        width: 300px;}

.tab{background: rgba(128, 128, 128, 0.205);
        border: solid 1px grey;
        padding: 10px;
        }
.tab:hover{background: grey;
            cursor: pointer;}

.sub-menu{height: 0px;
            padding: 0px;
            overflow: hidden;
            transition: all 0.3s;}

.sub-menu-show{height: min-content;
                padding: 10px;
                }

.bgred{background: red;
        color: white;
        height: min-content;
                padding: 10px;}